<div class="container">
<h1>SOOOOO FLOW</h1>
<h3>Ask a new question:</h3>

<form action="/questions" method="post">
  <p>Question Title:</p>
  <input type="text" name="title">
  <p>Question Body:</p>
  <textarea row="10" cols="50" name="body">
Tell us about your question here.
  </textarea><br>
   <p>Programming Language:</p>
  <input type="text" name="programming_language">
  <input type="submit" value="Post your question">
</form>
<br>
<a href="/questions">back to new questions</a>
</div>
