.whitespace {white-space: pre;}

.container {
  margin: 20px auto;
  width: 720px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.huge-button {
  width:25%;
  padding:1.5em 0;
  margin:0 7%;
  display:inline-block
}

a#btn-questions.huge-button {
  background: #222;
  line-height: 1;
  padding: .6em .8em;
  color: #fff;
  background-color: #009afd;
  border: 1px solid #1777b7;
  box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3);
  padding: 8px 10px 7px 10px;
  border-radius: 3px;
  text-decoration: none;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  margin-bottom: 0px;
  margin-left: 63px;
  margin-right: 63px;
  margin-top: 0px;
  padding-bottom: 24px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 24px;
  text-align: center;
  width: 225px;
}


