<ul>
  <% if current_user %>
    <li><a href="/users/logout">LOGOUT</a></li>
  <% else %>
    <li><a href="/users/login">SIGN IN</a></li>
    <li><a href="/users/new">SIGN UP</a></li>
  <% end %>
</ul>
