<div class="container">
      <!-- <a href="users/login">SIGN IN</a>
      <span class="whitespace">    |    </span>
      <a href="/users/new">SIGN UP</a>
      <span class="whitespace">    |    </span>
      <a href="/users/logout">LOG OUT</a> -->
  <h1>WELCOME TO SOOOOO FLOW</h1>
  <p>
    <h2>Find a question to answer, or ask your own</h2>
    <div id="huge-buttons">
      <a href="/questions" id="btn-questions" class="button huge-button">See new questions</a>
      <a href="/questions/new" id="btn-questions" class="button huge-button">Ask a question</a>
    </div>
  </p>
</div>
