<div="container">
<h3>Ask a new question:</h3>

<form action="/questions" method="post">
  <p>Question Title:</p>
  <input type="text" name="title">
  <p>Question Body:</p>
  <textarea row="10" cols="50" name="description">
  Tell us about your question here.
  </textarea><br>
  <input type="submit" value="Post your question">
</form>
<br>
<a href="/questions">back to new questions</a>
</div>
